<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head") %>
        <title>Verify Your OTP</title>
</head>

<body class="bg-gray-700">
    <%- include("../partials/nav.ejs") %>

        <form method="POST"
            class="max-w-sm lg:max-w-md mx-auto bg-gradient-to-r from-slate-500 to-gray-400  p-6 rounded-lg shadow-md mt-10"
            action="/user/emailvalidate">
            <div
                class="mx-auto w-12 bg-gray-400 shadow-md shadow-green-950  text-center h-12  rounded-full flex justify-center items-center top-0 ">
                <i class="fa-solid fa-lock font-bold text-2xl"></i>
            </div>
            <p class="p-2 text-amber-50">
                We will send a 4-digit OTP to your Gmail 
                <span class="text-gray-200 font-semibold hover:text-gray-800">
                    <%= email %>
                </span>
                <p class="font-mono text-sm">Not find,Please check your email <span class="text-red-700">Spam</span> folder..</p>
                
                <div class="mb-4 mt-10">
                    <label for="code" class="block text-black font-bold mb-2">Enter The OTP</label>
                    <input type="text" name="code" id="code"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-400 outline-none"
                    aria-describedby="emailHelp">
                </div>
                <button type="submit"
                class="w-full font-bold bg-gradient-to-r from-gray-800 to-gray-600 hover:from-gray-900 text-white py-2 rounded-lg hover:bg-gray-600 transition">Submit</button>

        </form>

</body>

</html>